<form autocomplete="off" onsubmit="event.preventDefault();">

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.diceSystem'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.dicePoolsSourceOrdered'}}</label>
            <input type="checkbox" name="dicePoolsSourceOrdered" {{checked settings.dicePoolsSourceOrdered}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.dicePoolsSourceOrderedHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.oneLineDicesOrdered'}}</label>
            <input type="checkbox" name="oneLineDicesOrdered" {{checked settings.oneLineDicesOrdered}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.oneLineDicesOrderedHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.allowRerollingOthersDice'}}</label>
            <input type="checkbox" name="allowRerollingOthersDice" {{checked settings.allowRerollingOthersDice}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.allowRerollingOthersDiceHint'}}</p>
        </div>
    </div>

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.calculate'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.calculateAttackEffects'}}</label>
            <input type="checkbox" name="calculateAttackEffects" {{checked settings.calculateAttackEffects}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.calculateAttackEffectsHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.calculateDisplaysFailed'}}</label>
            <input type="checkbox" name="calculateDisplaysFailed" {{checked settings.calculateDisplaysFailed}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.calculateDisplaysFailedHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.calculateDoesNotDisplay'}}</label>
            <input type="checkbox" name="calculateDoesNotDisplay" {{checked settings.calculateDoesNotDisplay}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.calculateDoesNotDisplayHint'}}</p>
        </div>
    </div>

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.chatButtons'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.chatButtons'}}</label>
            <input type="checkbox" name="chatButtons" {{checked settings.chatButtons}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.chatButtonsHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.showDefenseButtons'}}</label>
            <input type="checkbox" name="showDefenseButtons" {{checked settings.showDefenseButtons}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.showDefenseButtonsHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.showOthersTacticsUse'}}</label>
            <input type="checkbox" name="showOthersTacticsUse" {{checked settings.showOthersTacticsUse}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.showOthersTacticsUseHint'}}</p>
        </div>
    </div>

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.conditions'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.autoInitiativeConditions'}}</label>
            <input type="checkbox" name="autoInitiativeConditions" {{checked settings.autoInitiativeConditions}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.autoInitiativeConditionsHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.autoConditionRemoval'}}</label>
            <input type="checkbox" name="autoConditionRemoval" {{checked settings.autoConditionRemoval}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.autoConditionRemovalHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.autoConditionRemovalNoTurns'}}</label>
            <input type="checkbox" name="autoConditionRemovalNoTurns" {{checked settings.autoConditionRemovalNoTurns}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.autoConditionRemovalNoTurnsHint'}}</p>
        </div>
    </div>

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.range'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.diagonalRule'}}</label>
            <select name="diagonalRule" data-dtype="String" style="max-width:45%">
                {{selectOptions diagonals selected=settings.diagonalRule localize=false}}
            </select>
            <p class="notes">{{localize 'ironclaw2e.config.diagonalRuleHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.rangePenalties'}}</label>
            <input type="checkbox" name="rangePenalties" {{checked settings.rangePenalties}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.rangePenaltiesHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.matchStandardRuler'}}</label>
            <input type="checkbox" name="matchStandardRuler" {{checked settings.matchStandardRuler}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.matchStandardRulerHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.requireSpecialRangeFound'}}</label>
            <input type="checkbox" name="requireSpecialRangeFound" {{checked settings.requireSpecialRangeFound}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.requireSpecialRangeFoundHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.showRangeCombatRules'}}</label>
            <select name="showRangeCombatRules" data-dtype="Number" style="max-width:45%">
                {{selectOptions rangeCombatRules selected=settings.showRangeCombatRules localize=false}}
            </select>
            <p class="notes">{{localize 'ironclaw2e.config.showRangeCombatRulesHint'}}</p>
        </div>
    </div>

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.item'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.sendWeaponExhaustMessage'}}</label>
            <input type="checkbox" name="sendWeaponExhaustMessage" {{checked settings.sendWeaponExhaustMessage}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.sendWeaponExhaustMessageHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.sendWeaponReadyExhaustMessage'}}</label>
            <input type="checkbox" name="sendWeaponReadyExhaustMessage" {{checked settings.sendWeaponReadyExhaustMessage}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.sendWeaponReadyExhaustMessageHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.sendGiftUseExhaustMessage'}}</label>
            <input type="checkbox" name="sendGiftUseExhaustMessage" {{checked settings.sendGiftUseExhaustMessage}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.sendGiftUseExhaustMessageHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.sparkDieAutoDwindle'}}</label>
            <input type="checkbox" name="sparkDieAutoDwindle" {{checked settings.sparkDieAutoDwindle}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.sparkDieAutoDwindleHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.askReadyWhenUsed'}}</label>
            <input type="checkbox" name="askReadyWhenUsed" {{checked settings.askReadyWhenUsed}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.askReadyWhenUsedHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.weaponExhaustNeedsRefreshed'}}</label>
            <input type="checkbox" name="weaponExhaustNeedsRefreshed" {{checked settings.weaponExhaustNeedsRefreshed}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.weaponExhaustNeedsRefreshedHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.npcItemHasDescription'}}</label>
            <input type="checkbox" name="npcItemHasDescription" {{checked settings.npcItemHasDescription}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.npcItemHasDescriptionHint'}}</p>
        </div>
    </div>

    <div>
        <h2 class="header-label">{{localize 'ironclaw2e.config.worldConfig.misc'}}</h2>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.preferTokenName'}}</label>
            <input type="checkbox" name="preferTokenName" {{checked settings.preferTokenName}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.preferTokenNameHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.showTokenExtraButtons'}}</label>
            <input type="checkbox" name="showTokenExtraButtons" {{checked settings.showTokenExtraButtons}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.showTokenExtraButtonsHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.autoPrototypeSetup'}}</label>
            <input type="checkbox" name="autoPrototypeSetup" {{checked settings.autoPrototypeSetup}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.autoPrototypeSetupHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.allowNonGMRequestRolls'}}</label>
            <input type="checkbox" name="allowNonGMRequestRolls" {{checked settings.allowNonGMRequestRolls}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.allowNonGMRequestRollsHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.manageEncumbranceAuto'}}</label>
            <input type="checkbox" name="manageEncumbranceAuto" {{checked settings.manageEncumbranceAuto}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.manageEncumbranceAutoHint'}}</p>
        </div>
        <div class="form-group">
            <label>{{localize 'ironclaw2e.config.coinsHaveWeight'}}</label>
            <input type="checkbox" name="coinsHaveWeight" {{checked settings.coinsHaveWeight}} data-dtype="Boolean" />
            <p class="notes">{{localize 'ironclaw2e.config.coinsHaveWeightHint'}}</p>
        </div>
    </div>

    <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize 'ironclaw2e.config.worldConfig.menuSave'}}
    </button>
</form>
