<div class="ironclaw2e">
    <header class="chat-item flexrow">
        <img class="item-image" src="{{item.img}}" title="{{item.name}}" width="25" height="25" />
        <h3 class="chat-header-lesser">{{localize "ironclaw2e.chatInfo.damageCalcInfo.header" name=item.name}}</h3>
    </header>
    <div class="chat-content">
        <div class="chat-item">
            {{#if successfulAttack}}
            {{#if itemData.attackAutoHits}}<p style="{{resultStyle}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.attackAutoHits"}}:</p>{{else}}
            {{#if success}}<p style="{{resultStyle}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.attackSuccess"}}:</p>{{else}}
            <p style="{{resultStyle}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.attackTied"}}:</p>{{/if}}{{/if}}

            {{#if isFlat}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.flatDamage"}}: <strong>{{flatDamage}}</strong></p>{{else}}
            {{#if isImpaling}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.impalingDamage"}}: <strong>{{doubleDamage}}</strong></p>{{/if}}
            {{#if isSlaying}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.slayingDamage"}}: <strong>{{doubleDamage}}</strong></p>{{/if}}
            {{#if isCritical}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.criticalDamage"}}: <strong>{{criticalDamage}}</strong></p>{{/if}}
            {{#if isNormal}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.normalDamage"}}: <strong>{{normalDamage}}</strong></p>{{/if}}
            {{#if isConditional}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.conditionalDamage"}}: <strong>{{itemData.effectConditionsLabel}}</strong></p>{{/if}}
            {{#if hasMultipleBaseEffects}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.combinedDamage"}}: <strong>{{combinedDamage}}</strong></p>{{/if}}
            {{#if hasMultipleMultipliers}}{{#if isImpaling}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.combinedImpalingDamage"}}: <strong>{{combinedImpalingDamage}}</strong></p>{{/if}}{{/if}}
            {{/if}}

            {{#if isPenetrating}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.penetratingAttack"}}</p>{{/if}}
            {{#if isWeak}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.weakAttack"}}</p>{{/if}}
            {{#if itemData.attackAutoHits}}<p>{{localize "ironclaw2e.chatInfo.damageCalcInfo.resistSoak"}}: <strong>{{itemData.defendWith}}</strong></p>{{/if}}
            {{else}}
            {{#if hasResist}}<p style="{{resultStyle}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.attackResisted"}}</p>{{else}}
            <p style="{{resultStyle}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.attackFailed"}}</p>{{/if}}
            {{/if}}

            <p class="small-text">{{localize "ironclaw2e.chatInfo.damageCalcInfo.allEffects"}}: {{itemData.effect}}</p>
        </div>
        {{#if successfulAttack}}
        <div class="chat-item button-holder" data-conditions="{{itemData.effectConditionsLabel}}" data-penetrating="{{isPenetrating}}" data-weak="{{isWeak}}">
            <span class="normal-label">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakHeader"}}</span>
            {{#if hasMultipleMultipliers}}{{#unless isFlat}}
            <div class="flexrow">
                {{#if hasMultipleBaseEffects}}<button class="soak-button" data-soaktype="combined" data-damage="{{combinedDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakCombined"}}</button>{{/if}}
                {{#if isImpaling}}<button class="soak-button {{#if hasMultipleBaseEffects}}small-text{{/if}}" data-soaktype="combined" data-damage="{{combinedImpalingDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakCombinedImpaling"}}</button>{{/if}}
            </div>
            {{/unless}}{{/if}}
            <div class="flexrow">
                {{#if isFlat}}<button class="soak-button" data-soaktype="flat" data-damage="{{flatDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakFlat"}}</button>{{else}}
                {{#if isImpaling}}<button class="soak-button {{#if hasMultipleBaseEffects}}small-text{{/if}}" data-soaktype="impaling" data-damage="{{doubleDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakImpaling"}}</button>{{/if}}
                {{#if isSlaying}}<button class="soak-button" data-soaktype="slaying" data-damage="{{doubleDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakSlaying"}}</button>{{/if}}
                {{#if isCritical}}<button class="soak-button" data-soaktype="critical" data-damage="{{criticalDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakCritical"}}</button>{{/if}}
                {{#if isNormal}}<button class="soak-button" data-soaktype="normal" data-damage="{{normalDamage}}">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakNormal"}}</button>{{/if}}
                {{/if}}
                {{#if isConditional}}<button class="soak-button" data-soaktype="conditional" data-damage="-4">{{localize "ironclaw2e.chatInfo.damageCalcInfo.soakConditional"}}</button>{{/if}}
            </div>
        </div>
        {{/if}}
    </div>
</div>