<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
            <div class="flexrow flex-group-center flex-tight">
                <label class="header-label">Exhausted:</label>
                <input type="checkbox" name="data.exhausted" {{checked data.exhausted}} data-dtype="Boolean" />
                <label class="header-label">Show In Battle Stats:</label>
                <input type="checkbox" name="data.showInBattleStats" {{checked data.showInBattleStats}} data-dtype="Boolean" />
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Attributes</a>
        <a class="item" data-tab="special">Advanced Settings</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <div class="flexcol">
                <div class="resource flex-group-center">
                    <label class="resource-label">Tags:</label>
                    <input type="text" name="data.giftTags" value="{{data.giftTags}}" data-dtype="String" />
                </div>
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Refresh:</label>
                    <input type="text" name="data.refresh" value="{{data.refresh}}" data-dtype="String" />
                    <label class="normal-label">Exhausts when used:</label>
                    <input type="checkbox" name="data.exhaustWhenUsed" {{checked data.exhaustWhenUsed}} data-dtype="Boolean" />
                    <label class="normal-label">Grants a Skill Mark:</label>
                    <input type="checkbox" name="data.grantsMark" {{checked data.grantsMark}} data-dtype="Boolean" />
                </div>
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Gift dice:</label>
                    <input type="text" name="data.useDice" value="{{data.useDice}}" data-dtype="String" />
                    <label class="normal-label">Default TN:</label>
                    <input type="text" name="data.defaultTN" value="{{data.defaultTN}}" data-dtype="Number" />
                </div>
                {{#if showGiftSkill}}
                <div class="resource flexrow flex-group-center">
                    <label class="resource-label">Gift Skill Name:</label>
                    <input type="text" name="data.giftSkill" value="{{data.giftSkill}}" data-dtype="String" />
                </div>
                {{/if}}
            </div>
        </div>

        {{!-- Specials Tab --}}
        <div class="tab" data-group="primary" data-tab="special">
            <div class="flexcol">
                {{#if showDirectoryOptions}}
                <div>
                    <h3 class="normal-label flex-center">GM Directory Settings</h3>
                    <div class="rollable copy-special-settings flex-group-center">
                        <span class="normal-label">Copy Special Settings to every Gift with same name</span>
                    </div>
                    <div class="rollable copy-all-aspects flex-group-center">
                        <span class="normal-label">Copy entire Gift to every Gift with same name</span>
                    </div>
                </div>
                <div style="min-height: 1em"></div>
                {{/if}}
                <div class="rollable add-new-special flex-group-center">
                    <span class="normal-label">Add new Special Setting</span>
                </div>
                <div class="flexcol">
                    {{#each data.specialSettings as |special|}}
                    <div class="special-option flex-group-center" data-special-index="{{@index}}">
                        <h3 class="flex-center">
                            <select style="width: 90%" class="change-setting-mode">
                                {{selectOptions ../selectables.giftOptions selected=special.settingMode localize=false}}
                            </select>
                            <a style="width: 10%" class="rollable delete-special-option" title="Delete Special Option"><i class="fas fa-trash"></i></a>
                        </h3>
                        <div class="applicability-configuration flexcol">
                            <h4 class="header-label">Applicability Configuration</h4>
                            <div class="grid-2col grid-minimal flex-group-center flex-tight">
                                {{#if (propertyExists special "typeField")}}<div class="flexrow flex-center"><label class="normal-label">Type Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="typeField" value="{{special.typeField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "nameField")}}<div class="flexrow flex-center"><label class="normal-label">Name Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="nameField" value="{{special.nameField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "tagField")}}<div class="flexrow flex-center"><label class="normal-label">Tag Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="tagField" value="{{special.tagField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "descriptorField")}}<div class="flexrow flex-center"><label class="normal-label">Descriptor Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="descriptorField" value="{{special.descriptorField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "effectField")}}<div class="flexrow flex-center"><label class="normal-label">Effect Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="effectField" value="{{special.effectField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "statField")}}<div class="flexrow flex-center"><label class="normal-label">Stat Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="statField" value="{{special.statField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "equipField")}}<div class="flexrow flex-center"><label class="normal-label">Equip Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="equipField" value="{{special.equipField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "rangeField")}}<div class="flexrow flex-center"><label class="normal-label">Range Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="rangeField" value="{{special.rangeField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "conditionField")}}<div class="flexrow flex-center"><label class="normal-label">Condition Field</label><input style="min-width: 65%" class="special-change-field" type="text" name="conditionField" value="{{special.conditionField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "otherOwnedItemField")}}<div class="flexrow flex-center"><label class="normal-label">Other Owned Item Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="otherOwnedItemField" value="{{special.otherOwnedItemField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "worksWhenState")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 65%">Works When Gift State Is</label><select class="special-change-field" type="text" name="worksWhenState" data-dtype="String">{{selectOptions ../selectables.giftStates selected=special.worksWhenState localize=false}}</select></div>{{/if}}
                                {{#if (propertyExists special "needsSecondReadiedWeapon")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Needs a Second Readied Weapon</label><input class="special-change-boolean" type="checkbox" name="needsSecondReadiedWeapon" {{checked special.needsSecondReadiedWeapon}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "appliesToDodges")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Applies To Dodges</label><input class="special-change-boolean" type="checkbox" name="appliesToDodges" {{checked special.appliesToDodges}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "appliesToParries")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Applies To Parries</label><input class="special-change-boolean" type="checkbox" name="appliesToParries" {{checked special.appliesToParries}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "appliesToSpecialDefenses")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Applies To Special Defenses</label><input class="special-change-boolean" type="checkbox" name="appliesToSpecialDefenses" {{checked special.appliesToSpecialDefenses}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "appliesToRallying")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Applies To Rallying</label><input class="special-change-boolean" type="checkbox" name="appliesToRallying" {{checked special.appliesToRallying}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "allowOnOthers")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Allow Use on Others</label><input class="special-change-boolean" type="checkbox" name="allowOnOthers" {{checked special.allowOnOthers}} data-dtype="Boolean" /></div>{{/if}}
                            </div>
                            {{#if (propertyExists special "effectOtherField")}}
                            <h4 class="header-label">Applicability From Attacker</h4>
                            <div class="grid-2col grid-minimal flex-group-center flex-tight">
                                {{#if (propertyExists special "nameOtherField")}}<div class="flexrow flex-center"><label class="normal-label">Other Name Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="nameOtherField" value="{{special.nameOtherField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "descriptorOtherField")}}<div class="flexrow flex-center"><label class="normal-label">Other Descriptor Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="descriptorOtherField" value="{{special.descriptorOtherField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "effectOtherField")}}<div class="flexrow flex-center"><label class="normal-label">Other Effect Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="effectOtherField" value="{{special.effectOtherField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "statOtherField")}}<div class="flexrow flex-center"><label class="normal-label">Other Attack Stat Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="statOtherField" value="{{special.statOtherField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "equipOtherField")}}<div class="flexrow flex-center"><label class="normal-label">Other Equip Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="equipOtherField" value="{{special.equipOtherField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "rangeOtherField")}}<div class="flexrow flex-center"><label class="normal-label">Other Range Field</label><input style="min-width: 55%" class="special-change-field" type="text" name="rangeOtherField" value="{{special.rangeOtherField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "useActualRange")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Use Actual Range</label><input class="special-change-boolean" type="checkbox" name="useActualRange" {{checked special.useActualRange}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "appliesLongerRange")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Applies To Longer Ranges</label><input class="special-change-boolean" type="checkbox" name="appliesLongerRange" {{checked special.appliesLongerRange}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "appliesShorterRange")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Applies To Shorter Ranges</label><input class="special-change-boolean" type="checkbox" name="appliesShorterRange" {{checked special.appliesShorterRange}} data-dtype="Boolean" /></div>{{/if}}
                            </div>
                            {{/if}}
                        </div>
                        <div class="effect-configuration flexcol">
                            <h4 class="header-label">Effect Configuration</h4>
                            <div class="flex-group-center flex-tight">
                                {{#if (propertyExists special "bonusSourcesField")}}<div class="flexrow flex-center"><label class="normal-label">Bonus Sources</label><input style="min-width: 65%" class="special-change-field" type="text" name="bonusSourcesField" value="{{special.bonusSourcesField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "bonusStatsField")}}<div class="flexrow flex-center"><label class="normal-label">Bonus Stats</label><input style="min-width: 65%" class="special-change-field" type="text" name="bonusStatsField" value="{{special.bonusStatsField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "bonusDiceField")}}<div class="flexrow flex-center"><label class="normal-label">Bonus Dice</label><input style="min-width: 65%" class="special-change-field" type="text" name="bonusDiceField" value="{{special.bonusDiceField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "bonusAutoUsed")}}<div class="flexrow flex-center">
                                    <label class="normal-label" style="min-width: 60%">Check Bonus Automatically</label>
                                    <select style="width: 40%" class="special-change-field" name="bonusAutoUsed" data-dtype="String">
                                        {{selectOptions ../selectables.giftBonusUses selected=special.bonusAutoUsed localize=false}}
                                    </select>
                                </div>{{/if}}
                                {{#if (propertyExists special "rerollType")}}<div class="flexrow flex-center">
                                    <label class="normal-label" style="min-width: 60%">Reroll Type</label>
                                    <select style="width: 40%" class="special-change-field" name="rerollType" data-dtype="String">
                                        {{selectOptions ../selectables.giftRerolls selected=special.rerollType localize=true}}
                                    </select>
                                </div>{{/if}}
                                {{#if (propertyExists special "bonusExhaustsOnUse")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Bonus Exhausts the Gift</label><input class="special-change-boolean" type="checkbox" name="bonusExhaustsOnUse" {{checked special.bonusExhaustsOnUse}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "replacesBaseBonus")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Replaces the Base Bonus</label><input class="special-change-boolean" type="checkbox" name="replacesBaseBonus" {{checked special.replacesBaseBonus}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "bonusStrideNumber")}}<div class="flexrow flex-center">
                                    <label class="normal-label" style="min-width: 25%">Bonus Stride</label><input class="special-change-number" type="number" name="bonusStrideNumber" value="{{special.bonusStrideNumber}}" data-dtype="Number" />
                                    <label class="normal-label" style="min-width: 25%">Bonus Dash</label><input class="special-change-number" type="number" name="bonusDashNumber" value="{{special.bonusDashNumber}}" data-dtype="Number" />
                                    <label class="normal-label" style="min-width: 25%">Bonus Run</label><input class="special-change-number" type="number" name="bonusRunNumber" value="{{special.bonusRunNumber}}" data-dtype="Number" />
                                </div>{{/if}}
                                {{#if (propertyExists special "ignoreBadFooting")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Ignore Bad Footing</label><input class="special-change-boolean" type="checkbox" name="ignoreBadFooting" {{checked special.ignoreBadFooting}} data-dtype="Boolean" /></div>{{/if}}
                                {{#if (propertyExists special "changeFromField")}}<div class="flexrow flex-center">
                                    <label class="normal-label">Change From</label><input style="min-width: 30%" class="special-change-field" type="text" name="changeFromField" value="{{special.changeFromField}}" data-dtype="String" />
                                    <label class="normal-label">Change To</label><input style="min-width: 30%" class="special-change-field" type="text" name="changeToField" value="{{special.changeToField}}" data-dtype="String" />
                                </div>{{/if}}
                                {{#if (propertyExists special "penaltyReductionNumber")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Penalty Reduction</label><input class="special-change-number" type="number" name="penaltyReductionNumber" value="{{special.penaltyReductionNumber}}" data-dtype="Number" /></div>{{/if}}
                                {{#if (propertyExists special "encumbranceBonusNumber")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Encumbrance Bonus</label><input class="special-change-number" type="number" name="encumbranceBonusNumber" value="{{special.encumbranceBonusNumber}}" data-dtype="Number" /></div>{{/if}}
                                {{#if (propertyExists special "currencyName")}}<div class="flexrow flex-center">
                                    <label class="normal-label" style="min-width: 60%">Currency Name</label>
                                    <select style="width: 40%" class="special-change-field" name="currencyName" data-dtype="String">
                                        {{selectOptions ../selectables.currencyOptions selected=special.currencyName localize=false}}
                                    </select>
                                </div>{{/if}}
                                {{#if (propertyExists special "currencyValue")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 60%">Currency Value</label><input class="special-change-field" type="text" name="currencyValue" value="{{special.currencyValue}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "upgradeStepsNumber")}}<div class="flexrow flex-center"><label class="normal-label" style="min-width: 80%">Upgrade Steps</label><input class="special-change-number" type="number" name="upgradeStepsNumber" value="{{special.upgradeStepsNumber}}" data-dtype="Number" /></div>{{/if}}
                                {{#if (propertyExists special "nameAdditionField")}}<div class="flexrow flex-center"><label class="normal-label">Name Addition</label><input style="min-width: 65%" class="special-change-field" type="text" name="nameAdditionField" value="{{special.nameAdditionField}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "identifierOverride")}}<div class="flexrow flex-center"><label class="normal-label">Reroll Identifier Override</label><input style="min-width: 65%" class="special-change-field" type="text" name="identifierOverride" value="{{special.identifierOverride}}" data-dtype="String" /></div>{{/if}}
                                {{#if (propertyExists special "replaceNameField")}}<div class="flexrow flex-center"><label class="normal-label">Replacing Name</label><input style="min-width: 65%" class="special-change-field" type="text" name="replaceNameField" value="{{special.replaceNameField}}" data-dtype="String" /></div>{{/if}}
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </section>
</form>
