<div class="flexcol">
    {{#unless templateHelp.coinageDisabled}}
    <div class="flexcol">
        <h3 class="header-label">{{localize "ironclaw2e.sheets.actor.coinage.title"}}</h3>
        <span class="bold-text allow-selection">{{localize "ironclaw2e.sheets.actor.coinage.totalValue" main=data.coinage.baseCurrency.plural value=data.coinageValue sign=data.coinage.baseCurrency.parsedSign}}</span>
        <div></div>
        <span class="bold-text allow-selection">{{localize "ironclaw2e.sheets.actor.coinage.totalWeight" weight=(valueRoundTo data.coinageWeight 2)}}</span>
        <div class="grid grid-4col">
            {{#each data.coinage as |currency id|}}{{#if currency.used}}
            <div class="flexcol flex-group-center flex-tight">
                <span class="normal-label allow-selection">{{currency.plural}}: {{currency.parsedSign}}</span>
                <input type="text" name="data.coinage.{{id}}.amount" value="{{currency.amount}}" data-dtype="Number" />
                <span class="small-label allow-selection">{{localize "ironclaw2e.sheets.actor.coinage.value"}}: {{currency.shownValue}}{{../data.coinage.baseCurrency.parsedSign}}</span>
            </div>
            {{/if}}{{/each}}
        </div>
    </div>
    {{/unless}}
    <h3 class="header-label">{{localize "ironclaw2e.sheets.actor.gear.items"}}</h3>
    {{#if templateHelp.encumbranceInItems}}
    <div class="flexcol">
        <div class="flexrow flex-group-left flex-tight">
            <span class="resource-label">{{localize "ironclaw2e.sheets.actor.gear.encumbrance"}}</span>
            <span class="normal-label rollable roll-enc-effect" data-removals="cannotmove,over-burdened,burdened" data-additions="">{{localize "ironclaw2e.none"}}: {{data.encumbranceNone}}</span>
            <span class="normal-label rollable roll-enc-effect" data-removals="cannotmove,over-burdened" data-additions="burdened">{{localize "ironclaw2e.effect.status.burdened"}}: {{data.encumbranceBurdened}}</span>
            <span class="normal-label rollable roll-enc-effect" data-removals="cannotmove" data-additions="burdened,over-burdened">{{localize "ironclaw2e.effect.status.over-burdened"}}: {{data.encumbranceOverBurdened}}</span>
        </div>
        <span class="bold-text allow-selection">{{localize "ironclaw2e.sheets.actor.gear.totalCarried" weight=(valueRoundTo data.totalWeight 2)}}</span>
        <span class="bold-text allow-selection">{{localize "ironclaw2e.sheets.actor.gear.armorNumber" number=data.totalArmors}}</span>
    </div>
    {{else}}
    <span class="bold-text allow-selection">{{localize "ironclaw2e.sheets.actor.gear.totalCarried" weight=(valueRoundTo data.totalWeight 2)}}</span>
    {{/if}}
    <ol class="items-list">
        <li class="item flexrow item-header">
            <div class="item-image"></div>
            <div class="item-name">{{localize "ironclaw2e.sheets.actor.gear.items"}}</div>
            <div class="item-controls-small">
                <a class="item-control item-create" title="{{localize "ironclaw2e.sheets.actor.gear.createLight"}}" data-type="illumination"><i class="fas fa-plus"></i></a>
                <a class="item-control item-create" title="{{localize "ironclaw2e.sheets.actor.gear.createItem"}}" data-type="item"><i class="fas fa-plus"></i></a>
            </div>
        </li>
        {{#each actor.lightItems as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
            <div class="item-controls flexrow">
                <a class="rollable roll-item" title="{{#if item.data.lighted}}{{localize "ironclaw2e.sheets.actor.douse"}}{{else}}{{localize "ironclaw2e.sheets.actor.light"}}{{/if}} {{item.name}}" data-roll="light" data-item="{{item._id}}"><img src="{{#if item.data.lighted}}systems/ironclaw2e/icons/illumination-light.svg{{else}}systems/ironclaw2e/icons/illumination-douse.svg{{/if}}" width="24" height="24" /></a>
            </div>
            <div class="item-controls">
                <a class="rollable roll-item-change" title="{{#if item.data.showInBattleStats}}{{localize "ironclaw2e.sheets.actor.hideBattleTooltip" name=item.name}}{{else}}{{localize "ironclaw2e.sheets.actor.showBattleTooltip" name=item.name}}{{/if}}" data-stat="showInBattleStats" data-item="{{item._id}}"><span>{{#if item.data.showInBattleStats}}{{localize "ironclaw2e.sheets.actor.shown"}}{{else}}{{localize "ironclaw2e.sheets.actor.hidden"}}{{/if}}</span></a>
            </div>
            <div class="item-controls-small">
                <a class="item-control item-edit" title="{{localize "ironclaw2e.sheets.actor.gear.editItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "ironclaw2e.sheets.actor.gear.deleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
    <ol class="items-list">
        {{#each actor.gear as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
            <div class="item-image"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></div>
            <h4 class="item-name double-clickable roll-double-info-item">{{item.name}}</h4>
            <div class="item-controls-small">
                <a class="item-control item-edit" title="{{localize "ironclaw2e.sheets.actor.gear.editItem"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "ironclaw2e.sheets.actor.gear.deleteItem"}}"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</div>